@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans),;
  --font-mono: var(--font-geist-mono); 
  --color-primary: #fdf7ff; /* fondo */
  --color-secondary: #00393E; /* ni idea */
  --color-accent: #e86c5f; /* botó inici sessió */
  --color-accent-2: #171717; /* text inici sessió navbar */
  --color-cards: #fffae5; /* capsa text i personatge */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
